[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/balancer-v2-monorepo"]
	path = lib/balancer-v2-monorepo
	url = https://github.com/balancer-labs/balancer-v2-monorepo/
[submodule "lib/sense-v1"]
	path = lib/sense-v1
	url = https://github.com/sense-finance/sense-v1/
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
